<div class="container-fluid">
	<div class="row">
		<div class="col-sm-5">
			<p class="about_text"><br/><br/>Mike Klauck Construction is a local company that has been in the business of home building since 1985. They are well known for the integrity of their building and craftsmanship. The company is owned and operated by Mike Klauck. Mike has completed the educational requirements for the National Association of Home Builders Graduate and Master Builder Programs.<br/>

Our friendly staff is here to help you through the whole process of building a home, whether it's your first time buying or looking to build a high end home we are here to help. We believe a home should be built around your needs. From the ground up you get to decide what layout your house is, what materials to choose from, and how to build your home around your family. Don't just build a house, build your dreams.<br/>

Building a home can be a very stressful or enjoyable experience. Our well qualified staff ensures an ‘enjoyable experience’ backed by a reputation for quality and honesty. That’s why our motto is:
			</p>
				<p class="motto text-right">
					Quality is the Difference
				</p>

		</div>
		<div class="col-sm-7">
			<%= image_tag 'about_image.jpg' %>

		</div>
	</div>
</div>