<div class="container">
	<div class="row">
		<!-- <div class="col-sm-3">
			<h1><br/><br/>Important <span class="popcolor">Quote</span> about your business <span class="popcolor">philosophy</span> will go here.</h1>
		</div> -->

		<div class="col-sm-12">
		<%= render "layouts/carousel" %>
		</div>

	</div>
	<div class="row top-padding">
		<div class="col-sm-4 text-center right-border">
			<h3>View Our Plans</h3>
			<p>Take a look through our current plans and find one with all the amenities you have ever wanted.</p>
		<button type="button" class="btn btn-primary btn-lg">PLANS</button>
		</div>

		<div class="col-sm-4 text-center right-border">
			<h3>Communities</h3>
			<p>Looking for a great place to settle down, that is close to everything? Check out our building communities here.</p>
		<button type="button" class="btn btn-primary btn-lg">COMMUNITIES</button>
		</div>

		<div class="col-sm-4 text-center">
			<h3>About Us</h3>
			<p>Questions, Comments, or Concerns? Find out why Mike Klauck Construction is what you've been looking for.</p>
		<!-- <button type="button" class="btn btn-primary">ABOUT</button> -->
			<%= link_to 'ABOUT', about_path, class: "btn btn-primary btn-lg" %>
		</div>

	</div>

</div>