.top-padding{
	padding-top: 25px;
}

.about_text{
	font-size: 18px; 
}

.motto{
	font-size: 35px;
	font-family: Lobster, cursive;
}

.right-border{
	border-right: 1px solid lighten(grey, 20%);
	
}

.popcolor{
	color: blue;
}
.test-fonts{
	font-family: 'Duru Sans';

}

.nav-font{
	font-size: 25px;
}
.phone{
	color: white;
}