<div class="row">
	<div class="col-sm-4">
		<%= image_tag('transmklogo.jpg') %>
	</div>

	<div class="col-sm-4 text-center">
		<h2 class="test-fonts"><strong>Custom Handcrafted Homes</strong></h2>
		<h5>Since 1985</h5> 
	</div>

	<div class="col-sm-4 text-right">
		<h4>Phone: 801.489.4278</h4>
		<h4>Fax: 801.489.0063</h4>
	</div>

</div>